r.js
chat-plugins/
tournaments/lib/
logs/
config/format-ssb.js
plugins/events/tests/
plugins/events/events.js
plugins/plugins/ps-colors/config
plugins/plugins/sprites/lib
plugins/plugins/tour/translations
plugins/plugins/friends/**
plugins/plugins/*/data/*.js
plugins/plugins/*/data/*.json
plugins/utils/html-utils/html-css-sanitizer-bundle.js
plugins/utils/html-utils/tabifier.js
mod-tools/chat-formatter.js
dev-tools/eslint/curly-return.js
/data/
pandora-cliente/
/node-modules/
/dev/
/etc/
/mingw64/
/usr/
