*.bat
*.cmd
*.man
*.exe
*.0
*.pem
*.key
*.crt
*.gz
*.tmp

.gitmodules
.env
.eslintcache

/chat-plugins/
/chat-plugins/private.js
/static
/static/index.html
npm-debug.log
npm
/config/*
/logs/*
!/logs/logging.md
!/logs/modlog
/logs/modlog/*
!/logs/modlog/README.md
!/logs/chat
/logs/chat/*
!/logs/chat/README.md

/node_modules
/plugins/logs
/plugins/**/config/*
!/plugins/**/config/*-example*
/plugins/**/data/*
!/plugins/**/data/*-example*
/config/avatars/*
!/config/avatars/README.md
/config/ladders/*
!/config/ladders/README.md
/config/bannedwords.txt
/config/ipbans.txt
/config/usergroups.csv
/config/chatrooms.json

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
build
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt
